{% extends 'myclient/base.html' %}
{% load bootstrap3 %}
{% block title %}
Добавить объект
{% endblock %}

{% block content-title %}
Добавить объект
{% endblock %}

{% block content %}
{% if error %}
    <h2>{{error}}</h2>
{% endif %}

<form   method="post" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <label class="control-label">Select File</label>
    <input id="input-img" name="input-img" multiple type="file" class="file file-loading"> 
    {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary fileinput-upload fileinput-upload-button" %}
    {% endbuttons %}
</form>
{% endblock %}
